<!-- <p>
  <button
    [disabled]="isUserLogged"
    type="button"
    class="btn btn-primary m-3"
    (click)="Login()"
>
    Login
</button>
<button
    [disabled]="!isUserLogged"
    type="button"
    class="btn btn-danger m-3"
    (click)="Logout()"
>
    Logout
</button>
</p> -->
<form (ngSubmit)="onSubmit()">
  <input [(ngModel)]="username" name="username" placeholder="Username" required>
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
